<div class="stupid">
<h1>Stupid Coach</h1>
</div>


<div class= "div1">
  <div class="container">
    <p><%= @question %></p>
    <h4>-You</h4>
  </div>
</div>


<div class= "div1">
  <div class="container">
    <p><%= @answer %></p>
    <h4>-Stupid Coach</h4>
  </div>
</div>

<div   class ="asknew">
<%= link_to "Ask a new question", "/ask"%>
</div>
