

<h1>Welcome to Stupid Coach!</h1>
<h3>Please enter a question.</h3>

<form class="search" action= "/answer">
  <input type="text" name= "question" placeholder="Type a question">
  <input class="btn" type= "submit" value="Enter">
</form>
